<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<div>
<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <div>
    <label>Name</label>
    <%= f.text_field :name, autofocus: true, placeholder: "名前"%>
  </div>
  
  <div>
    <label>ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  </div>
  
  <div>
    <label>Introduction</label>
    <%= f.text_area :introduction, autofocus: true, placeholder:"自己紹介文"%>
  </div>
  <%= f.submit "Update User" %>
<% end %>
</div>