<div>
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </table>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

  <% if @nbook.errors.any? %>
    <%= @nbook.errors.count %>errors prohibited this obj from being saved:
    <% @nbook.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <h1>New book</h1>
    <%= form_with model: @nbook, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>
</div>

<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
        <td>
          <%= link_to user_path(@user) do %>
          <%= @book.title %>
          <% end %>
          </td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?" %></td>
        <% end %>
      </tr>
      <tr>
        <td>
          <%= link_to user_path(@user) do %>
          <%= @book.user.name %>
          <% end %>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

